h3 {
    background: #666;
    text-align: center;
    margin: 20px 40px;
    padding: 5px;
    color: #0a9;
}
.row {
    padding: 5px 20px;
    font-size: 1.2em;
}

.row input {
    border: none;
    font-size: 1.2em;
    border-bottom: 1px solid #0ad;
}

