<html>
    
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h3>中文/阿拉伯数字转换</h3>
        <div class="container" id="App">
            <div class="row">
                <span>阿拉伯数字：</span>
                <input type="number" v-model="ArabNum">
            </div>
            <div class="row">
                <span>中文数字：</span>
                <input type="text" v-model="ChineseNum">
            </div>
        </div>

    </body>
    <script src="js/jquery.2.1.4.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</html>
